---
layout: page
title: "News"
permalink: /news/
pagination: 
  enabled: true
  category: News
---

<h2 class="wp-block-heading">Check out our recent news &amp; insights</h2>

<div class="wp-block-query is-layout-flow wp-block-query-is-layout-flow">
  <ul
    class="columns-3 wp-block-post-template is-layout-grid wp-container-core-post-template-is-layout-1 wp-block-post-template-is-layout-grid">
    {% for post in paginator.posts %}
    <li
      class="wp-block-post post-350 post type-post status-publish format-standard has-post-thumbnail hentry category-news">

      <div class="wp-block-group is-layout-flow wp-container-core-group-is-layout-7 wp-block-group-is-layout-flow"
        style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
        {% if post.featured_image %}
        <figure style="height:200px; margin-bottom:var(--wp--preset--spacing--small);"
          class="wp-block-post-featured-image"><a href="{{ post.url | relative_url }}" target="_self"
            style="height:200px"><img 
              src="{{ post.featured_image | prepend: '/assets/images/' | relative_url }}"
              class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
              alt="{{ post.title }}" style="border-radius:5px;height:200px;object-fit:cover;"></a>
        </figure>
        {% else %}
        <div class="missing-image"></div>
        {% endif %}

        <div class="taxonomy-category has-link-color wp-elements-82b5603708064b06546400967d8e01c5 wp-block-post-terms">
          <a href="{{ site.url }}/{{ post.categories | first | downcase }}/" rel="tag">{{post.categories | first}}</a>
        </div>

        <h5 style="margin-bottom:var(--wp--preset--spacing--x-small);" class="wp-block-post-title"><a
            href="{{ post.url | relative_url }}" target="_self">{{ post.title }}</a></h5>


        <div
          class="wp-block-group is-nowrap is-layout-flex wp-container-core-group-is-layout-6 wp-block-group-is-layout-flex">
          <div class="wp-block-post-author-name has-x-small-font-size">{{ post.author }}</div>

          <hr
            class="wp-block-separator has-text-color has-highlight-color has-alpha-channel-opacity has-highlight-background-color has-background is-style-default wp-container-content-3">

          <div class="wp-block-post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
        </div>
      </div>

    </li>
    {% endfor %}
  </ul>
</div>


{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr; Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>