<header class="wp-block-template-part">
  <div
    class="wp-block-group has-background-background-color has-background has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
    <div
      class="wp-block-group is-content-justification-space-between is-nowrap is-layout-flex wp-container-core-group-is-layout-3 wp-block-group-is-layout-flex">
      <div
        class="wp-block-group is-nowrap is-layout-flex wp-container-core-group-is-layout-1 wp-block-group-is-layout-flex">
        <div class="wp-block-site-logo"><a href="{{ site.url }}" class="custom-logo-link"
            rel="home" aria-current="page"><img width="130" height="48"
              src="{{ site.url }}/assets/images/reqnroll-logo-130x48-1.png"
              class="custom-logo" alt="Reqnroll" decoding="async">
          </a>
        </div>
      </div>

      <div class="wp-block-group is-content-justification-right is-nowrap is-layout-flex wp-container-core-group-is-layout-2 wp-block-group-is-layout-flex">
        <nav class="is-responsive items-justified-center wp-block-navigation is-content-justification-center is-layout-flex wp-container-core-navigation-is-layout-1 wp-block-navigation-is-layout-flex"
          aria-label="Header Menu" data-wp-interactive="core/navigation"
          data-wp-context="{&quot;overlayOpenedBy&quot;:{&quot;click&quot;:false,&quot;hover&quot;:false,&quot;focus&quot;:false},&quot;type&quot;:&quot;overlay&quot;,&quot;roleAttribute&quot;:&quot;&quot;,&quot;ariaLabel&quot;:&quot;Menu&quot;}">
          <button aria-haspopup="dialog" aria-label="Open menu"
            class="wp-block-navigation__responsive-container-open "
            data-wp-on-async--click="actions.openMenuOnClick"
            data-wp-on--keydown="actions.handleMenuKeydown"
            onclick="showMenu()"><svg width="24" height="24"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"
              focusable="false">
              <rect x="4" y="7.5" width="16" height="1.5"></rect>
              <rect x="4" y="15" width="16" height="1.5"></rect>
            </svg>
          </button>
          <div class="wp-block-navigation__responsive-container" id="navigation-container"
            data-wp-class--has-modal-open="state.isMenuOpen"
            data-wp-class--is-menu-open="state.isMenuOpen" data-wp-watch="callbacks.initMenu"
            data-wp-on--keydown="actions.handleMenuKeydown"
            data-wp-on-async--focusout="actions.handleMenuFocusout" tabindex="-1" onfocusout="hideWhenFocusOut(event)" onkeydown="menuContainerKeyDown(event)">
            <div class="wp-block-navigation__responsive-close" tabindex="-1">
              <div class="wp-block-navigation__responsive-dialog"
                data-wp-bind--aria-modal="state.ariaModal"
                data-wp-bind--aria-label="state.ariaLabel"
                data-wp-bind--role="state.roleAttribute">
                <button aria-label="Close menu" id="navigation-container-close"
                  class="menu-control wp-block-navigation__responsive-container-close"
                  data-wp-on-async--click="actions.closeMenuOnClick" onclick="hideMenu()"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                    height="24" aria-hidden="true" focusable="false">
                    <path d="m13.06 12 6.47-6.47-1.06-1.06L12 10.94 5.53 4.47 4.47 5.53 10.94 12l-6.47 6.47 1.06 1.06L12 13.06l6.47 6.47 1.06-1.06L13.06 12Z">
                    </path>
                  </svg></button>
                <div class="wp-block-navigation__responsive-container-content"
                  data-wp-watch="callbacks.focusFirstElement" id="modal-1-content">
                  <ul
                    class="wp-block-navigation__container is-responsive items-justified-center wp-block-navigation">
                    <li class=" wp-block-navigation-item current-menu-item wp-block-navigation-link">
                      <a class="menu-control wp-block-navigation-item__content"
                        href="{{ site.url }}" aria-current="page"><span
                          class="wp-block-navigation-item__label">Home</span></a>
                    </li>
                    <li class=" wp-block-navigation-item wp-block-navigation-link"><a
                        class="menu-control wp-block-navigation-item__content"
                        href="https://go.reqnroll.net/quickstart" target="_blank"><span
                          class="wp-block-navigation-item__label">Quickstart</span></a>
                    </li>
                    <li class=" wp-block-navigation-item wp-block-navigation-link"><a
                        class="menu-control wp-block-navigation-item__content"
                        href="https://docs.reqnroll.net/" target="_blank"><span
                          class="wp-block-navigation-item__label">Documentation</span></a>
                    </li>
                    <li class=" wp-block-navigation-item wp-block-navigation-link"><a
                        class="menu-control wp-block-navigation-item__content"
                        href="{{ site.url }}/news/"><span
                          class="wp-block-navigation-item__label">News</span></a></li>
                    <li class=" wp-block-navigation-item wp-block-navigation-link"><a
                        class="menu-control wp-block-navigation-item__content"
                        href="{{ site.url }}/support/"><span
                          class="wp-block-navigation-item__label">Support</span></a>
                    </li>
                    <li data-wp-context="{ &quot;submenuOpenedBy&quot;: { &quot;click&quot;: false, &quot;hover&quot;: false, &quot;focus&quot;: false }, &quot;type&quot;: &quot;submenu&quot;, &quot;modal&quot;: null }"
                      data-wp-interactive="core/navigation"
                      data-wp-on--focusout="actions.handleMenuFocusout"
                      data-wp-on--keydown="actions.handleMenuKeydown"
                      data-wp-on-async--mouseenter="actions.openMenuOnHover"
                      data-wp-on-async--mouseleave="actions.closeMenuOnHover"
                      data-wp-watch="callbacks.initMenu" tabindex="-1"
                      class=" wp-block-navigation-item has-child open-on-hover-click wp-block-navigation-submenu">
                      <a class="menu-control wp-block-navigation-item__content">About</a><button
                        data-wp-bind--aria-expanded="state.isMenuOpen"
                        data-wp-on-async--click="actions.toggleMenuOnClick"
                        aria-label="About submenu"
                        class="wp-block-navigation__submenu-icon wp-block-navigation-submenu__toggle"
                        aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg"
                          width="12" height="12" viewBox="0 0 12 12" fill="none"
                          aria-hidden="true" focusable="false">
                          <path d="M1.50002 4L6.00002 8L10.5 4" stroke-width="1.5">
                          </path>
                        </svg></button>
                      <ul data-wp-on-async--focus="actions.openMenuOnFocus"
                        class="wp-block-navigation__submenu-container wp-block-navigation-submenu">
                        <li class=" wp-block-navigation-item wp-block-navigation-link">
                          <a class="menu-control wp-block-navigation-item__content"
                            href="{{ site.url }}/about/"><span
                              class="wp-block-navigation-item__label">About
                              Reqnroll</span></a>
                        </li>
                        <li class=" wp-block-navigation-item wp-block-navigation-link">
                          <a class="menu-control wp-block-navigation-item__content"
                            href="{{ site.url }}/sponsorship/"><span
                              class="wp-block-navigation-item__label">Sponsorship</span></a>
                        </li>
                        <li class=" wp-block-navigation-item wp-block-navigation-link">
                          <a class="menu-control wp-block-navigation-item__content"
                            href="{{ site.url }}/contact/"><span
                              class="wp-block-navigation-item__label">Contact</span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>


        <div class="wp-block-buttons is-layout-flex wp-block-buttons-is-layout-flex">
          <div class="wp-block-button"><a class="wp-block-button__link wp-element-button"
              href="https://github.com/reqnroll" target="_blank" rel="noreferrer noopener"><i
                class="fab fa-github"></i> GitHub</a></div>
        </div>
      </div>
    </div>
  </div>
</header>