/* GLOBAL STRUCTURE */

@use "common";

body {
  background-color: var(--wp--preset--color--background);
  color: var(--wp--preset--color--body);
  font-family: var(--wp--preset--font-family--body);
  font-size: var(--wp--preset--font-size--medium);
  font-weight: var(--wp--custom--font-weight--regular);
  line-height: var(--wp--custom--line-height--large);
  margin: 0;

  main {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.page-like {
  padding-bottom: var(--wp--preset--spacing--x-large);

  >.alignfull {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }

  // page block separator: separates top level blocks of the page with x-large spacing (applies to child elements of .page-main from the 2nd on)
  >*+* {
    margin-block-start: var(--wp--preset--spacing--x-large);
    margin-block-end: 0;
  }

  hr {
    background-color: var(--wp--preset--color--outline);
    color: var(--wp--preset--color--outline);
    opacity: 1;
    border: none;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
  }
}

.content-title {
  box-sizing: border-box;
  word-break: break-word;
}

.content-author {
  box-sizing: border-box;
}

.content-date {
  @extend .centered-flex;

  box-sizing: border-box;
  gap: var(--wp--preset--spacing--xxx-small);
}

.content-header {
  @extend .alignfull;
  @extend .is-layout-constrained;

  padding-top: var(--wp--preset--spacing--xx-large);
  padding-bottom: var(--wp--preset--spacing--xx-large);
  background-color: var(--wp--preset--color--surface);

  >h1 {
    @extend .content-title;

    text-align: center;
  }

  >.content-attributes {
    @extend .centered-flex;

    color: var(--wp--preset--color--neutral);
    font-size: var(--wp--preset--font-size--x-small);

    flex-wrap: nowrap;
    gap: var(--wp--preset--spacing--xx-small);
    justify-content: center;

    a {
      text-decoration: none;
    }
  }
}

.content-body {
  @extend .flow-document;
}

.content-footer {
  * {
    margin-bottom: var(--wp--preset--spacing--x-small);
  }

  h3 {
    margin: 0 0 var(--wp--preset--spacing--x-small) 0;
    display: inline-block;
    line-height: 1.2;
    font-size: 9pt;
    font-weight: 700;
  }

  .content-tag-list {
    font-size: var(--wp--preset--font-size--x-small);

    a {
      text-decoration: none;
    }
  }

  .content-sharing-list {
    ul {
      padding: 0 !important;
      margin: 0 !important;
      list-style: none !important;

      li {
        display: inline-block;
        margin: 0 var(--wp--preset--spacing--xx-small) var(--wp--preset--spacing--x-small) 0;
        padding: 0;
      }
    }
  }
}

@media print {
  .content-sharing {
    display: none;
  }
}

.document-figure {

  display: table;

  &.aligncenter {
    text-align: center;
  }

  img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
  }

  figcaption {
    caption-side: bottom;
    display: table-caption;
    color: #555;
    font-size: 13px;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  figcaption.overlay-caption {
    font-size: var(--wp--preset--font-size--x-small);
    text-align: right;
    margin-top: -2em;
    margin-bottom: 0;
    padding-right: 1em;
    color: white;
  }
}

.featured-image {
  @extend .document-figure;

  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.site-warning {
  background-color: var(--reqnroll-dark);
  color: var(--reqnroll-light);
  padding: var(--wp--preset--spacing--small);
  text-align: center;
  font-weight: var(--wp--custom--font-weight--bold);
}

/* overrides for content types */

.post {
  @extend .page-like;
}

.page {
  @extend .page-like;
}