$site_url: "" !default;
@use "../assets/kortez-fse/style.css";
@use "variables";
@use "legacy2";
@use "legacy1" with ($site_url: $site_url);

@use "common";
@use "structure";
@use "post-list";
@use "special-pages";
